body {
    height: 100vh;
}

#gameContainer {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px;
    margin: 20px auto;
}   

#startBtn {
    border: none;
    width: 10%;
    height: 4%;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(201, 75, 201);
    color: white;
    font-size: 16px;
    transition: box-shadow 0.15s,
    background-color 0.15s;
}

#startBtn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(148, 50, 240);
}

.cell {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #ccc;
}

.cell.on {
    background-color: rgb(203, 34, 255);
}

.cell.off {
    background-color: rgb(240, 233, 233);
}

#info {
    margin-top: 20px;
}
